* {
    box-sizing: border-box;
}

html {
    font-family: 'Gotham', 'Poppins', sans-serif;
    font-size: 18px;
}

body {
    height: auto;
    width: 100%;
    background-color: lightsalmon;
    color: #003c66;
}

.main {
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.judul {
    text-align: center;
    background-color: blanchedalmond;
    font-size: 3rem;
    border: solid 2px #003c66;
    padding: 8px;
}

.gambar-tengah {
    display: flex;
    justify-content: center;
}

img {
    height: auto;
    width: 360px;
}

img.scroll {
    margin-top: -50px;
    margin-bottom: -30px;
}